h2 Administration Functions

ul#adminposttools
	li: a(href='#/newpost') Create new post
	li: a(href='#/newpage') Create new page
	li: a(href='#/archive') Download all posts and pages
	li: a(ng-click="logout()") Log out
