article
	h2 {{page.longname}}
	//p.postdatetop #{postdate}
	p(ng-bind-html="page.body | markdown")
	//p.postdatebottom #{pagedate}


div(ng-if="authorized")
	h4 Admin Tools

	ul#adminposttools
		li: a#editpost(href="" ng-click="edit()") Edit Page
		li: a#deletepost(href="" ng-click="delete()") Delete Page
