article
	h2 {{post.title}}
	p(ng-bind-html="post.body | markdown")
	//p(ng-bind-html) {{post.body | markdown}}
	time(datetime="{{post.date | date: 'yyyy-MM-dd'}}", pubdate) {{post.date | date: 'MMMM d, y'}}

#comments
	h4 Comments

	//improve date - maybe Name at Time on Date


	.comment(ng-repeat="comment in comments")
		p.commenter {{comment.name}} at {{comment.date | date: 'h:ma'}} on {{comment.date | date: 'MMMM d, y'}}
		p.commentbody {{comment.comment}}
		p.admincommenttools(ng-if="authorized")
			a.editcomment(href="" ng-click="editComment($index)") Edit 
			| | 
			a.deletecomment(href="" ng-click="deleteComment($index)") Delete

	#commentform

		form#leavecomment(ng-submit="saveComment()")

			input(type='hidden', name='admin', ng-model="newcomment.admin")

			p: label#namelabel(for="namefield") Name (required):

			p: input#namefield(type="text", name="name", required, ng-model="newcomment.name", value="a name")

			p: label#commentlabel(for="commentfield") Comment (required):

			p: textarea#commentfield(rows="5", cols="52", name="comment", required, ng-model="newcomment.comment")

			p
				button(ng-click="cancelComment()") Cancel
				button() Save

div(ng-if="authorized")
	h4 Admin Tools

	ul#adminposttools
		li: a#editpost(href="" ng-click="edit()") Edit Post
		li: a#deletepost(href="" ng-click="delete()") Delete Post
